<div class="container-flotantes">
   <a href="https://api.whatsapp.com/send?phone=527716280886"><img src="/whatsapp.png" alt=""></a> 

</div>

<style>
.container-flotantes{
    width: 100%;
    position: relative;
    
}
.container-flotantes img{
    position: fixed;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 55px;
    object-fit: cover;
}
@media(min-width:767px){
    .container-flotantes img{
    position: fixed;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
}
</style>