---
import Promo from "./Promo.astro";
---

<section class="w-full flex justify-center items-center" id="Promociones">
  <div class="w-full max-w-5xl px-4">
    <h2 class="text-center font-black text-4xl md:text-6xl">
      Conoce <strong class="gold-origin"> nuestras promociones</strong>
    </h2>
    <div
      class="grid grid-cols-1 place-content-center mt-6 mb-6 gap-4 md:grid-cols-promo md:gap-2 lg:grid-cols-3 lg:gap-6"
    >
      <Promo promotion="/valley-1.png" alt="Promoción limpieza dental" />
      <Promo promotion="/valley-2.png" alt="Promoción resinas dentales" />
      <Promo promotion="/valley-4.png" alt="Promoción carillas dentales" />

    </div>
  </div>
</section>

<style>
  .gold-origin {
    color: #cc9900;
  }
</style>
